/* :root{
    
} */

body {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    font-family: sans-serif;
}
body>div {
    display: flex ;
}

#logoContainer {
    position: relative;
    flex: 2 1 0 ;
    max-height: 100vh;
    box-sizing: border-box;  
}

#logoContainer > img {
    width: 100%;

}

#logo {
    position: absolute;
    display: flex;
    top: 20.55%;
    width: 100%;
    height: 15%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#logo > img {
    height: 80%;
    flex: 1 2 1;
}

#logo > p {
    color: aliceblue;
    flex: 2 1 2;
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 5vw, 5rem);
}


#logo::before{
    position: absolute;

    content: '';
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#mainContainer {
    flex-direction: column;
    flex: 3 1 0;

}


.sections {
    flex: 1 1 0;
    padding: 3%;
    /* border: black solid; */
}

#formContainer {
    /* display: flex; */
    /* padding-bottom: clamp(5%, 1vh, 10px); */
    flex-grow: 0.8;
    justify-content: flex-start;
    box-shadow:0 3px 5px rgb(196, 195, 195);
    z-index: 1;
}

#form {
    display: flex;
    gap: 5vw;
}

.formBlocks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form input{
    width: 100%
}

#form label{
    font-size: 10px;
    letter-spacing: 0.2em;
}

#header {
    background-color: antiquewhite;
}

#footer {
    background-color: azure;
}